<!DOCTYPE HTML>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scheduler</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/bootstrap.min.css}"
        href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
        }

        body { background-color: lightgoldenrodyellow; }

        .form-check-label input {
            margin-right: 10px;
        }

        .board{
            background-color: white;
            padding: 1em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-2">
        <div class="board rounded-3 border border-2">
        <div th:object="${classList}">
            <div class="d-flex justify-content-between">
                <table>
                    <tr>
                        <th><a th:href ="@{/admin/teacherList}"><button class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">교사 관리</button></a></th>
                        <th><a th:href ="@{/manage/studentList}"><button class="btn btn-primary" sec:authorize="isAuthenticated()">학생 명부</button></a></th>
                        <th><form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="d-inline"><button class="btn btn-primary" type="submit">Logout</button></form></th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th><a th:href ="@{/help/email}"><button class="btn btn-primary" sec:authorize="hasRole('ROLE_TEACHER')">이메일 변경</button></a></th>
                        <th><a th:href ="@{/help/password}"><button class="btn btn-primary" sec:authorize="hasRole('ROLE_TEACHER')">비밀번호 변경</button></a></th>
                    </tr>
                </table>
            </div>
            <table class="table caption-top table-responsive" id="jb-table">
            <caption>List of users</caption>
            <thead id="header">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">이름</th>
                    <th scope="col">월요일</th>
                    <th scope="col">화요일</th>
                    <th scope="col">수요일</th>
                    <th scope="col">목요일</th>
                    <th scope="col">금요일</th>
                    <th scope="col">담당 교사</th>
                    <th scope="col">수정시간</th>
                    <th scope="col">삭제</th>
                </tr>
            </thead>
            <tbody th:each="class : ${findClassTable}">
                <tr>
                    <td></td>
                    <td th:text="${class.getStudentName()}"></td>
                    <td th:text="${class.getMonday() == 0 ? '결석' : '오후 ' + class.getMonday() + '시'}"></td>
                    <td th:text="${class.getTuesday() == 0 ? '결석' : '오후 ' + class.getTuesday() + '시'}"></td>
                    <td th:text="${class.getWednesday() == 0 ? '결석' : '오후 ' + class.getWednesday() + '시'}"></td>
                    <td th:text="${class.getThursday() == 0 ? '결석' : '오후 ' + class.getThursday() + '시'}"></td>
                    <td th:text="${class.getFriday() == 0 ? '결석' : '오후 ' + class.getFriday() + '시'}"></td>
                    <td th:text="${class.getTeacherName()}"></td>
                    <td th:text="${#temporals.format(class.getLastModifiedDate(), 'yyyy-MM-dd HH:mm')}"></td>
                    <td>
                        <button class="btn btn-primary delete-button"
                                th:value="${class.getStudentName()}">삭제</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/csrf.js"></script>
<script src="/js/manage/class.js"></script>
</html>