<!DOCTYPE HTML>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scheduler</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
        }

        body { background-color: lightgoldenrodyellow; }

        .form-check-label input {
            margin-right: 10px;
        }

        .board{
            background-color: white;
            padding: 1em;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="py-2">
        <div class="board rounded-3 border border-2">
        <div th:object="${teacherList}">
            <div class="d-flex justify-content-between">
                <table>
                    <tr>
                        <th><a th:href ="@{/manage/class}"><button class="btn btn-primary" sec:authorize="isAuthenticated()">수업 관리</button></a></th>
                        <th><form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="d-inline"><button class="btn btn-primary" type="submit">Logout</button></form></th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th><a th:href ="@{/admin/help/password}"><button class="btn btn-primary" sec:authorize="isAuthenticated()">비밀번호 변경</button></a></th>
                        <th><a th:href ="@{/admin/help/email}"><button class="btn btn-primary" sec:authorize="isAuthenticated()">이메일 변경</button></a></th>
                    </tr>
                </table>
            </div>
            <table class="table caption-top table-responsive" id="jb-table">
                <caption>List of users</caption>
                <thead id="header">
                <tr>
                    <th scope="col">교사 아이디</th>
                    <th scope="col">교사 이름</th>
                    <th scope="col">승인 상태</th>
                    <th scope="col">승인</th>
                    <th scope="col">승인 취소</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody th:each="teacher : ${teacherList}">
                <tr>
                    <td th:text="${teacher.getUsername()}"></td>
                    <td th:text="${teacher.getTeacherName()}"></td>
                    <td th:text="${teacher.isApproved() == true ? '승인' : '비승인'}"></td>
                    <td>
                        <button class="btn btn-primary approve-button"
                                th:value="${teacher.getUsername()}">승인</button>
                    </td>
                    <td>
                        <button class="btn btn-primary cancel-button"
                                     th:value="${teacher.getUsername()}">승인 취소</button>
                    </td>
                    <td>
                        <button class="btn btn-primary delete-button"
                                th:value="${teacher.getUsername()}">삭제</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/csrf.js"></script>
<script src="/js/admin/teacherList.js"></script>
</html>