<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scheduler</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .container{
            max-width: 30em;
        }

        body { background-color: lightgoldenrodyellow; }

        h1{
            text-align: center;
        }

        .board{
            padding: 1em;
            margin: 1em;
            background-color: white;
        }
        .board p {
            text-align: center;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="py-2">
        <table>
            <tr>
                <th><form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="d-inline"><button class="btn btn-primary" type="submit">Logout</button></form></th>
                <th><a th:href = "@{/manage/class}"><button class="btn btn-primary" sec:authorize="isAuthenticated()">수업 관리</button></a></th>
            </tr>
        </table>
    </div>
        <!--학생 이름-->
        <div class="py-2">
            <div class="board rounded-3 border border-2">
                <div class="text-end"><a href="board"><button class="btn btn-primary">공지사항</button></a></div>
                <form method='post' role="form" th:action="@{/class/findClass}" th:object="${studentClassDTO}">
                <h1> 시간표 조회 </h1>
                <p>학생 이름을 입력해주세요 :)<br></p>
                <label for="studentName"></label>
                <input type="text" id="studentName" th:field="*{studentName}"
                       th:errorclass="field-error" class="form-control" placeholder="이름을 정확히 입력해주세요" required="required">
                <div class="field-error" th:errors="*{studentName}"></div>
                <div class="field-error" th:text="${nullStudentName}"></div><br>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">수업 조회</button></div>
                <br>
                </form>
            </div>
        </div>
</div><!-- container-->
</body>
</html>